* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card-memory {
  position: relative;
}
.card-memory img {
  width: 100%;
  display: block;
  border: 2px solid white;
  border-radius: 6px;
}
.card-memory .front {
  transform: rotateY(90deg);
  position: absolute;
}
.flipped .front {
  transform: rotateY(0deg);
}
.memory-field {
  max-width: 860px;
  margin: 40px auto;
}
